/* GLOBAL ========================= */
:root {
    --dark-blue: #363f5f;
    --dark-blue-soft: #969cb3;
    --light-green: #3dd705;
    --background: #f0f2f5;
    --header:#69757c; 
    --header-original:#2d4a22;
    --white: #fff;
    --total: #0e9630;
    --total-original: #49aa26;
    --income: #12a454;
    --red: #e92929;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 93.75%; /* equivale a 15px, a fonte padrao seria 16px */
    /* (100 * 15) / 16*/
}

body {
    background: var(--background);
    font-family: 'Poppins', sans-serif;
}

/* SCREENR READERS ONLY =========================== */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin-top: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.container {
    width: min(90vw, 800px);
    margin: auto;
}

/* TITLES ========================= */
h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--dark-blue);
    font-weight: normal;
}

/* LINKS & BUTTONS ========================= */
a {
    color: #49aa26;
    text-decoration: none; 
}

a:hover {
    color: var(--light-green);

}

button {
    width: 100%;
    height: 50px;

    border: none;

    color: white;
    background: var(--total-original);;

    padding: 0;

    border-radius: .25rem;

    cursor: pointer;
}

button:hover {
    background-color: var(--light-green);;
}

/* DISPLAY BLOCK PEGA TODA A WIDTH DA PAGINA */
/* DISPLAY INLINE PEGA SOMENTE A LARGURA DO ELEMENTO*/
/* INLINE-BLOCK TEM AS DUAS PROPRIEDADES, BLOCK E INLINE*/


.button.new {
    display: inline-block; /*PARA APLICAR O MARGIN-BOTTOM*/
    margin-bottom: .8rem; /* SOMENTE APLICA NO DISPLAY: BLOCK*/
}

.button.cancel {
    color: var(--red);
    border: 2px var(--red) solid;
    border-radius: .25rem;

    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: .6;
}

.button.cancel:hover{
    opacity: 1;
}

/* HEADER ========================= */
header {
    background: var(--header-original);
    padding: 2rem 0 10rem;
    text-align: center;
}

#logo h1 {
    color: var(--white);
    font-weight: 100;
    margin-bottom: 4rem;
}

/* BALANCE ========================= */
#balance {
    margin-top: -8rem;
}

#balance h2 {
    color:var(--white);
    margin-top: 0;
}

/* CARDS ========================= */
.card {
    background: var(--white);
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;

    color:var(--)
}

.card h3 {
    font-weight: normal;
    font-size: 1rem;

    display: flex; /* mantem os elementos em block um ao lado do outro fora do padrao INLINE */
    align-items: center; /* nalinhados no eixo  x ( horizontal )*/
    justify-content: space-between; /* espaco entre os itens */
}

.card p {
    font-size:  2rem;
    line-height: 3rem;

    margin-top: 1rem;
}

.card.total {
    background: var(--total);
    color: var(--white);
}
/* TABLE ========================= */
#transaction {
    display: block;
    width: 100%;
    overflow-x: auto;
}

#data-table{
    width: 100%;
    border-spacing: 0 0.5rem;
    color: var(--dark-blue-soft);
}

/* ==== PSEUDO CLASS =====*/
table thead tr:first-child,
table tbody tr:first-child  {
    border-radius: .25rem 0 0 .25rem;
}
/* ==== PSEUDO CLASS =====*/
table thead tr:last-child,
table tbody tr:last-child  {
    border-radius: 0 .25rem .25rem 0;
}

table th {
    background: var(--white);
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: left;
}
table tbody tr {
    opacity: .7
}
table tbody tr:hover {
    opacity: 1;
}

table tbody td {
    background: var(--white);
    padding: 1rem 2rem;
}

td.description {
    color: var(--dark-blue);
}

td.income {
    color: var(--income);
}

td.expense {
    color: var(--red)
}

/* MODAL ========================= */
/* modal-overlay camada escura de background do modal */
.modal-overlay{
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .7);

    position: fixed; /* para fixar o modal na tela */
    top: 0; /* para jogar o modal do bottom para o topo */

    display: flex;
    align-items: center;
    justify-content: center;
/* ESCONDENDO O MODAL DA PAGINA ATE O JS USAR A CLASSE active [ARA TRAZER ELE DE VOLTA */
    opacity: 0;
    visibility: hidden;

    z-index: 999;
}

/* VAI SER ATIVADO QUANDO O BOTAO DO MODAL FOR ATIVADO PELO JS*/
.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    background: #f0f2f5;
    padding: 2.4rem;

    position: relative;
    z-index: 1;

}

/* FORM ========================= */
#form {
    max-width: 500px;

}

#form h2 {
    margin-top: 0;
}

input {
    border: none;
    border-radius: .2rem;

    padding: 0.8rem;
    width: 100%; /* PARA OCUPAR TODO O ESPACO DO PAI DELE */
}

.input-group {
    margin-top: 0.8rem;
    
}

.input-group small {
    opacity: 0.4;
}

.input-group.actions {
    display: flex;/* para destravar as opcoes de alinhamento */
    justify-content: space-between;
    align-items: center;
}

/* PARA DEFINIR O TAMANHO DOS BOTOES DO MODAL DE FORMA HARMONIOSA */
.input-group.actions .button,
.input-group.actions button {
    width: 48%;
}


/* FOOTER ========================= */
footer {
    text-align: center;
    padding: 4rem 0 2rem;
    color : var(--dark-blue);
    opacity: .6;
}

/* ==== RESPONSIVE === */
/* ==== at rules === */
@media (min-width: 800px ) {
    html {
        font-size: 87.5; /* (100 * 15) / 16 = 14px */
    }
/*GRID PODE SER USADO EM VARIAS POSICOES*/
    #balance {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
        /* 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem; */


    }
}
