/* GLOBAL ========================= */
:root {
    --dark-blue: #363f5f;
    --dark-blue-soft: #969cb3;
    --background: #f0f2f5;
    --header:#69757c; 
    --header-original:#2d4a22;
    --white: #fff;
    --total: #25f559;
    --total-original: #49aa26;
    --income: #12a454;
    --expense: #e92929;;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background);
    font-family: 'Poppins', sans-serif;
}

/* sr-only para leitores de tela, acessibilidade */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin-top: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.container {
    width: min(90vw, 800px);
    margin: auto;
}

/* TITLES ========================= */
h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--dark-blue);
    font-weight: normal;
}

/* HEADER ========================= */
header {
    background: var(--header-original);
    padding: 2rem 0 10rem;
    text-align: center;
}

#logo h1 {
    color: var(--white);
    font-weight: 100;
    margin-bottom: 4rem;
}

/* BALANCE ========================= */
#balance {
    margin-top: -8rem;
}

#balance h2 {
    color:var(--white);
    margin-top: 0;
}

/* CARDS ========================= */
.card {
    background: var(--white);
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;

    color:var(--)
}

.card h3 {
    font-weight: normal;
    font-size: 1rem;

    display: flex; /* mantem os elementos em block um ao lado do outro*/
    align-items: center;
    justify-content: space-between;
}

.card p {
    font-size:  2rem;
    line-height: 3rem;

    margin-top: 1rem;
}

.card.total {
    background: var(--total);
    color: var(--white);
}
/* TABLE ========================= */
#data-table{
    width: 100%;
    border-spacing: 0 0.5rem;
    color: var(--dark-blue-soft);
}

table thead tr:first-child,
table tbody tr:first-child  {
    border-radius: .25rem 0 0 .25rem;
}

table th {
    background: var(--white);
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: left;
}
table tbody tr {
    opacity: .7
}
table tbody tr:hover {
    opacity: 1;
}

table tbody td {
    background: var(--white);
    padding: 1rem 2rem;
}

td.description {
    color: var(--dark-blue);
}

td.income {
    color: var(--income);
}

td.expense {
    color: var(--expense)
}
/* FOOTER ========================= */
footer {
    text-align: center;
    padding: 4rem 0 2rem;
    color : var(--dark-blue);
    opacity: .6;
}
