/* GLOBAL ========================= */
:root {
    --dark-blue: #363f5f;
    --dark-blue-soft: #969cb3;
    --background: #f0f2f5;
    --header:#69757c; 
    --header-original:#2d4a22;
    --white: #fff;
    --total: #0e9630;
    --total-original: #49aa26;
    --income: #12a454;
    --expense: #e92929;;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 93.75%; /* equivale a 15px, a fonte padrao seria 16px */
    /* (100 * 15) / 16*/
}

body {
    background: var(--background);
    font-family: 'Poppins', sans-serif;
}

/* SCREENR READERS ONLY =========================== */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin-top: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.container {
    width: min(90vw, 800px);
    margin: auto;
}

/* TITLES ========================= */
h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--dark-blue);
    font-weight: normal;
}

/* LINKS & BUTTONS ========================= */
a {
    color: #49aa26;
    text-decoration: none; 
}

a:hover {
    color: #3dd705;

}

/* DISPLAY BLOCK PEGA TODA A WIDTH DA PAGINA */
/* DISPLAY INLINE PEGA SOMENTE A LARGURA DO ELEMENTO*/
/* INLINE-BLOCK TEM AS DUAS PROPRIEDADES, BLOCK E INLINE*/


.button.new {
    display: inline-block; /*PARA APLICAR O MARGIN-BOTTOM*/
    margin-bottom: .8rem; /* SOMENTE APLICA NO DISPLAY: BLOCK*/

}

/* HEADER ========================= */
header {
    background: var(--header-original);
    padding: 2rem 0 10rem;
    text-align: center;
}

#logo h1 {
    color: var(--white);
    font-weight: 100;
    margin-bottom: 4rem;
}

/* BALANCE ========================= */
#balance {
    margin-top: -8rem;
}

#balance h2 {
    color:var(--white);
    margin-top: 0;
}

/* CARDS ========================= */
.card {
    background: var(--white);
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;

    color:var(--)
}

.card h3 {
    font-weight: normal;
    font-size: 1rem;

    display: flex; /* mantem os elementos em block um ao lado do outro fora do padrao INLINE */
    align-items: center; /* nalinhados no eixo  x ( horizontal )*/
    justify-content: space-between; /* espaco entre os itens */
}

.card p {
    font-size:  2rem;
    line-height: 3rem;

    margin-top: 1rem;
}

.card.total {
    background: var(--total);
    color: var(--white);
}
/* TABLE ========================= */
#data-table{
    width: 100%;
    border-spacing: 0 0.5rem;
    color: var(--dark-blue-soft);
}

/* ==== PSEUDO CLASS =====*/
table thead tr:first-child,
table tbody tr:first-child  {
    border-radius: .25rem 0 0 .25rem;
}
/* ==== PSEUDO CLASS =====*/
table thead tr:last-child,
table tbody tr:last-child  {
    border-radius: 0 .25rem .25rem 0;
}

table th {
    background: var(--white);
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: left;
}
table tbody tr {
    opacity: .7
}
table tbody tr:hover {
    opacity: 1;
}

table tbody td {
    background: var(--white);
    padding: 1rem 2rem;
}

td.description {
    color: var(--dark-blue);
}

td.income {
    color: var(--income);
}

td.expense {
    color: var(--expense)
}
/* FOOTER ========================= */
footer {
    text-align: center;
    padding: 4rem 0 2rem;
    color : var(--dark-blue);
    opacity: .6;
}

/* ==== RESPONSIVE === */
/* ==== at rules === */
@media (min-width: 800px ) {
    html {
        font-size: 87.5; /* (100 * 15) / 16 = 14px */
    }
    
}
